@using DataLibrary.Models;
@using ToDoListWithUsersBlazor.Services;
@inject UserServiceUi userService;
@inject NavigationManager navigationManager;

<p class="text-danger">@errorMessage</p>
<EditForm Model="@User" OnSubmit="@EditPassword" autocomplete="off">
    <div class="form-group row d-flex align-items-center">
        <div class="form-group col d-flex gap-2 align-items-center">
            <InputText placeholder="New password..." type="@textType" id="password" @bind-Value="User.Password" class="form-control" />
            <span class="btn btn-lg oi oi-eye" @onclick="@ToggleTextType"></span>
        </div>
        <div class="form-group col">
            <InputText placeholder="Confirm password..." type="password" id="confirmPassword" @bind-Value="User.ConfirmPassword" class="form-control" />
        </div>
        <div class="form-group col">
            <button class="btn btn-success oi oi-check"></button>
            <button type="reset" @onclick="@(() => OnToggleConfirmPassword.InvokeAsync())" class="btn btn-danger oi oi-x"></button>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public EventCallback<UserModel> OnToggleConfirmPassword { get; set; }

    [Parameter]
    public UserModel User { get; set; }

    private string errorMessage { get; set; } = "";
    private string textType = "password";

    protected override async Task OnInitializedAsync()
    {
        User.Password = ""; //Någon sorts bugg i programmet? Sätter password till null men ändå finns ett "Securely generated password" kvar i fältet med id "password" uppa i edit form. Det fungerar bra på chrome men inte på firefox
    }

    public void ToggleTextType()
    {
        textType = textType == "password" ? "text" : "password";
    }

    public async Task EditPassword()
    {
        try
        {
            User = await userService.ChangeOtherPassword(User);
            await OnToggleConfirmPassword.InvokeAsync();
        }
        catch (Exception)
        {
            
            errorMessage = "Passwords dont match";
        }
        
    }
}
