@page "/signup"

@inject UserServiceUi userService
@using System.Text;
@using System.Text.Json;
@using DataLibrary.Models;
@using ToDoListWithUsersBlazor.Services;
@inject NavigationManager navigationManager

<div class="d-flex w-100 justify-content-center">
    <div class="d-flex flex-column gap-4 w-50 p-4 rounded-3" style="background-color: rgb(200, 200, 200)">
        <h3 class="text-center">Create User</h3>

        <p class="text-danger">@ErrorMessage</p>
        <EditForm Model="@UserModel" OnValidSubmit="@Create">
            <DataAnnotationsValidator />
            <div class="form-group row">
                <div class="form-group col">
                    <label for="username">Username</label>
                    <InputText id="username" @bind-Value="UserModel.Username" DisplayName="Username" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.Username)" />
                </div>
                <div class="form-group col">
                    <label for="email">Email</label>
                    <InputText id="email" @bind-Value="UserModel.Email" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.Email)" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="form-group col">
                    <label for="password">Password</label>
                    <InputText type="password" id="password" @bind-Value="UserModel.Password" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.Password)" />
                </div>
                <div class="form-group col">
                    <label for="passwordConfirm">Confirm Password</label>
                    <InputText type="password" id="passwordConfirm" @bind-Value="UserModel.ConfirmPassword" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.ConfirmPassword)" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="form-group col">
                    <label for="firstName">First Name</label>
                    <InputText id="firstName" @bind-Value="UserModel.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.FirstName)" />
                </div>
                <div class="form-group col">
                    <label for="lastName">Last Name</label>
                    <InputText id="lastName" @bind-Value="UserModel.LastName" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.LastName)" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="form-group col">
                    <label for="age">Age</label>
                    <InputNumber id="age" @bind-Value="UserModel.Age" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.Age)" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="form-group col">
                    <label>Gender</label>
                    <InputText id="gender" @bind-Value="UserModel.Gender" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.Gender)" />
                </div>
                <div class="form-group col">
                    <label for="adress">Adress</label>
                    <InputText id="adress" @bind-Value="UserModel.Adress" class="form-control" />
                    <ValidationMessage For="@(() => UserModel.Adress)" />
                </div>
            </div>

            <br />

            <div class="form-group row">
                <div class="form-group col d-flex justify-content-center gap-2">
                    <button type="submit" class="btn btn-warning" style="width: 150px;">Create User</button>
                    <button type="reset" @onclick="@(() => navigationManager.NavigateTo("/"))" @onclick:preventDefault class="btn btn-secondary" style="width: 150px;">Cancel</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>






@code {
    public UserModel UserModel { get; set; } = new();
    public UserModel? LoggedInUser { get; set; }
    public string ErrorMessage { get; set; }

    public async Task Create()
    {
        try
        {
            await userService.CreateUser(UserModel);
        }
        catch (Exception)
        {
            ErrorMessage = "User already exists.";
            return;
        }
        navigationManager.NavigateTo("/", true);
    }
}
