@page "/settings"

@using DataLibrary.Enums;
@using DataLibrary.Models;
@using ToDoListWithUsersBlazor.Services;
@inject UserServiceUi userService;
@inject NavigationManager navigationManager;

@if (user != null)
{
    <div class="d-flex w-100 justify-content-center">
        <div class="d-flex flex-column gap-4 w-50 p-4 rounded-3" style="background-color: rgb(200, 200, 200)">
            <h3>Settings for '@user.Username'</h3>

            <p class="text-danger">@errorMessage</p>
            <EditForm Model="@user" OnSubmit="@Edit">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <div class="form-group col">
                        <label for="username">Username</label>
                        <InputText id="username" @bind-Value="user.Username" DisplayName="Username" class="form-control" />
                        <ValidationMessage For="@(() => user.Username)" />
                    </div>
                    <div class="form-group col">
                        <label for="email">Email</label>
                        <InputText id="email" @bind-Value="user.Email" class="form-control" />
                        <ValidationMessage For="@(() => user.Email)" />
                    </div>
                </div>

                <br />

                <div class="form-group row">
                    <div class="form-group col">
                        <label for="firstName">First Name</label>
                        <InputText id="firstName" @bind-Value="user.FirstName" class="form-control" />
                        <ValidationMessage For="@(() => user.FirstName)" />
                    </div>
                    <div class="form-group col">
                        <label for="lastName">Last Name</label>
                        <InputText id="lastName" @bind-Value="user.LastName" class="form-control" />
                        <ValidationMessage For="@(() => user.LastName)" />
                    </div>
                </div>

                <br />

                <div class="form-group row">
                    <div class="form-group col">
                        <label for="age">Age</label>
                        <InputNumber id="age" @bind-Value="user.Age" class="form-control" />
                        <ValidationMessage For="@(() => user.Age)" />
                    </div>
                </div>

                <br />

                <div class="form-group row">
                    <div class="form-group col">
                        <label>Gender</label>
                        <InputText id="gender" @bind-Value="user.Gender" class="form-control" />
                        <ValidationMessage For="@(() => user.Gender)" />
                    </div>
                    <div class="form-group col">
                        <label for="adress">Adress</label>
                        <InputText id="adress" @bind-Value="user.Adress" class="form-control" />
                        <ValidationMessage For="@(() => user.Adress)" />
                    </div>
                </div>

                <br />

                <div class="form-group row">
                    <div class="form-group col">
                        <button class="btn btn-warning">Edit user</button>

                        <button type="reset" @onclick="@(() => navigationManager.NavigateTo("/"))" @onclick:preventDefault class="btn btn-secondary">Cancel</button>
                        <button type="reset" @onclick="@(() => navigationManager.NavigateTo("/change-password"))" @onclick:preventDefault class="btn btn-outline-dark">Change Password</button>
                        <button type="reset" @onclick="@(() => navigationManager.NavigateTo("/delete-user"))" @onclick:preventDefault class="btn btn-outline-danger">Delete User</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    private UserModel? user;
    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await userService.GetUser();
        }
        catch (Exception)
        {
            user = null;
        }
    }

    public async Task Edit()
    {
        try
        {
            if (user.Permission == PermissionLevel.System)
            {
                errorMessage = "Can not change system user.";
                return;
            }

            user = await userService.EditUser(user);

        }
        catch (Exception)
        {
            errorMessage = "Username already exists.";
            return;
        }
        navigationManager.NavigateTo("/settings", true);
    }
}
