@using DataLibrary.Enums;
@using DataLibrary.Models;
@using ToDoListWithUsersBlazor.Pages.SubTaskPages
@using ToDoListWithUsersBlazor.Services;
@inject TaskServiceUi taskService
@inject SubTaskServiceUi subTaskService
@inject TaskListServiceUi listService
@inject NavigationManager navigationManager;

@if (Tasks != null)
{
    <div class="mt-3">
        @if (Tasks.Count == 0)
        {
            <ul>
                <li>No tasks</li>
            </ul>
        }
        else
        {
            <div class="d-flex flex-wrap flex-column gap-2">
                <Virtualize Context="task" Items="Tasks">
                    <div class="d-flex align-self-center w-75">
                        <div class="form-check mt-4">
                            @if (task.Completed)
                            {
                                <input type="checkbox" @onclick="@(() => ToggleComplete(task))" @onclick:preventDefault class="form-check-input bg-opacity-75 bg-black align-self-center" style="width: 40px; height: 40px;" checked></input>
                            }
                            else
                            {
                                <input type="checkbox" @onclick="@(() => ToggleComplete(task))" @onclick:preventDefault class="form-check-input bg-opacity-75  align-self-center" style="width: 40px; height: 40px;"></input>
                            }
                        </div>

                        <div class="text-white p-2 mx-2 border-5 rounded-3 task d-flex flex-column flex-wrap justify-content-between @((CheckOpacity(task)) ? "opacity-25" : "opacity-100")" style="min-height: 90px; width: 90%">

                            @if ((!ConfirmEditTask && !ConfirmDeleteTask) || task.Id != TempTask.Id)
                            {
                                <div class="d-flex w-100 gap-2">
                                    @if (ExpandedTasks.Any(x => x == task.Id))
                                    {
                                        <button @onpointerdown="@(() => ToggleExpandTask(task))" class="oi oi-chevron-bottom btn btn-light bg-transparent text-white border-0 align-self-center" style="height: 50px; width: 50px;"></button>
                                    }
                                    else
                                    {
                                        <button @onpointerdown="@(() => ToggleExpandTask(task))" class="oi oi-chevron-right btn btn-light bg-transparent text-white border-0" style="height: 50px; width: 50px;"></button>
                                    }

                                    <div class="mb-0 h4 d-flex flex-column w-100">
                                        <div class="d-flex justify-content-between">
                                            <span class="h4 mb-0">@task?.Title.ToUpper()</span>
                                            <span class="h6 text-warning">@task?.Priority.Value</span>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <span class="h6 opacity-75">@task?.Description</span>
                                            <span class="h6">Sub tasks: @task?.SubTasks.Count</span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bg-warning" />

                                @if (ExpandedTasks.Any(x => x == task.Id) && !ConfirmCreateSubTask)
                                {
                                    <ul>
                                        <Virtualize Items="@task?.SubTasks">
                                            <li>@context.Title</li>
                                        </Virtualize>
                                    </ul>
                                }
                                else if (ExpandedTasks.Any(x => x == task.Id) && ConfirmCreateSubTask)
                                {
                                    <CreateSubTask OnSubTaskCreated="@(() => SubTaskCreated(task))"></CreateSubTask>
                                }
                            }
                            else if (task.Id == TempTask.Id && ConfirmDeleteTask)
                            {
                                <div class="text-center mb-0">Are you sure?</div>
                                <hr class="bg-black mx-2 my-1" />
                                <div>
                                    <button @onclick="() => Delete(task)" class="btn btn-outline-success oi oi-check" style="height: 30px; width: calc(50% - 4px)"></button>
                                    <button type="reset" @onclick="() => ToggleDelete(task)" @onclick:preventDefault class="btn btn-outline-danger oi oi-x" style="height: 30px; width: calc(50% - 4px)"></button>
                                </div>
                            }
                            else if (task.Id == TempTask.Id && ConfirmEditTask)
                            {
                                <p class="text-danger">@EditErrorMessage</p>
                                <EditForm Model="task" OnSubmit="() => Edit(task)">
                                    <DataAnnotationsValidator />
                                    <div class="form-group row">
                                        <div class="form-group col">
                                            <label for="title">Title</label>
                                            <InputText placeholder="Title..." id="title" @bind-Value="task.Title" class="form-control" />
                                        </div>

                                        <div class="form-group col">
                                            <label for="priority">Priority</label>
                                            <InputSelect id="priority" @bind-Value="task.Priority" class="form-control">
                                                @foreach (var sort in Enum.GetValues(typeof(Priority)))
                                            {
                                                <option value="@sort">@sort</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => task.Priority)" />
                                    </div>
                                </div>

                                <br />

                                <div class="form-group row">
                                    <div class="form-group col">
                                        <label for="description">Description</label>
                                        <InputText placeholder="Description..." id="description" @bind-Value="task.Description" class="form-control" />
                                        <ValidationMessage For="@(() => task.Description)" />
                                    </div>
                                </div>

                                <div class="form-group row mt-2">
                                    <div class="form-group col">
                                        <button type="submit" class="btn btn-outline-success oi oi-pencil" style="height: 30px; width: calc(50% - 4px)"></button>
                                        <button type="reset" @onclick="() => ToggleEdit(task)" @onclick:preventDefault class="btn btn-outline-danger oi oi-x" style="height: 30px; width: calc(50% - 4px)"></button>
                                    </div>
                                </div>
                                <br />
                            </EditForm>
                            }
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <button @onclick="() => ToggleEdit(task)" class="btn btn-secondary oi oi-pencil" style="height: 40px; width: 40px"></button>
                            <button @onclick="() => ToggleDelete(task)" class="btn btn-outline-danger oi oi-trash" style="height: 40px; width: 40px"></button>
                            @if (ExpandedTasks.Any(x => x == task.Id))
                            {
                                <button @onclick="() => ToggleCreate(task)" class="btn btn-success oi oi-plus" style="height: 40px; width: 40px"></button>
                            }
                        </div>
                    </div>
                </Virtualize>
            </div>
        }
    </div>
}

<style>
    .task {
        background-color: rgb(100, 0, 0);
        opacity: 0.8;
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
    }

        .task:hover {
            background-color: rgb(125, 0, 0);
            cursor: pointer;
        }

    li::marker {
        content: "| ";
        font-size: 1.2em;
    }

</style>

@code {
    [Parameter]
    public List<TaskModel> Tasks { get; set; }
    [Parameter]
    public UserModel User { get; set; }

    public TaskModel TempTask { get; set; } = new()
        {
            Id = Guid.Empty
        };

    public List<Guid> ExpandedTasks { get; set; } = new();

    public string EditErrorMessage { get; set; } = "";
    public bool ConfirmDeleteTask { get; set; } = false;
    public bool ConfirmEditTask { get; set; } = false;
    public bool ConfirmCreateSubTask { get; set; } = false;
    public bool ExpandButton { get; set; } = false;

    public void ToggleDelete(TaskModel task)
    {
        if (TempTask.Id != task.Id)
        {
            TempTask.Id = task.Id;
            ConfirmEditTask = false;
            ConfirmDeleteTask = true;
            ConfirmCreateSubTask = false;
            return;
        }

        ConfirmDeleteTask = !ConfirmDeleteTask;
        ConfirmEditTask = false;
        ConfirmCreateSubTask = false;
        TempTask.Id = task.Id;
    }

    public void ToggleEdit(TaskModel task)
    {
        if (!ConfirmEditTask)
        {
            TempTask.Priority = task.Priority;
            TempTask.Title = task.Title;
            TempTask.Description = task.Description;
        }
        else if (ConfirmEditTask && TempTask.Id == task.Id)
        {
            task.Priority = TempTask.Priority;
            task.Title = TempTask.Title;
            task.Description = TempTask.Description;
        }

        if (TempTask.Id != task.Id)
        {
            TempTask.Id = task.Id;
            ConfirmDeleteTask = false;
            ConfirmEditTask = true;
            ConfirmCreateSubTask = false;
            return;
        }

        ConfirmEditTask = !ConfirmEditTask;
        ConfirmDeleteTask = false;
        ConfirmCreateSubTask = false;
        EditErrorMessage = "";
        TempTask.Id = task.Id;
    }

    public void ToggleCreate(TaskModel task)
    {
        if (TempTask.Id != task.Id)
        {
            TempTask.Id = task.Id;
            ConfirmEditTask = false;
            ConfirmDeleteTask = false;
            ConfirmCreateSubTask = true;
            return;
        }

        ConfirmCreateSubTask = !ConfirmCreateSubTask;
        ConfirmEditTask = false;
        ConfirmDeleteTask = false;
        TempTask.Id = task.Id;
    }

    public void ToggleExpandTask(TaskModel task)
    {
        if (ExpandedTasks.Any(x => x == task.Id))
        {
            ExpandedTasks.Remove(task.Id);
        }
        else
        {
            ExpandedTasks.Add(task.Id);
        }

        ExpandButton = true;
        StateHasChanged();
    }

    public async void ToggleComplete(TaskModel task)
    {
        await taskService.ToggleComplete(task);
        Tasks = await taskService.GetTasks();
        StateHasChanged();
    }

    public bool CheckOpacity(TaskModel task)
    {
        if (!task.Completed)
        {
            return false;
        }
        else if (task.Completed && (task.Id == TempTask.Id && (ConfirmDeleteTask || ConfirmEditTask || ConfirmCreateSubTask)))
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    public void GoToTask(TaskModel task)
    {
        if ((ConfirmDeleteTask || ConfirmEditTask) && TempTask.Id == task.Id)
        {
            return;
        }
        else if (ExpandButton)
        {
            ExpandButton = false;
            return;
        }

        CurrentActive.Id["TaskId"] = task.Id;
        navigationManager.NavigateTo("/task", true);
    }

    public async Task Delete(TaskModel task)
    {
        try
        {
            await taskService.DeleteTask(task);
            Tasks.Remove(task);
            ConfirmDeleteTask = false;
        }
        catch (Exception)
        {
            return;
        }
    }

    public async Task Edit(TaskModel task)
    {
        try
        {
            await taskService.EditTask(task);
            Tasks = await taskService.GetTasks();
            ConfirmEditTask = false;
            EditErrorMessage = "";
        }
        catch (Exception)
        {
            EditErrorMessage = "Task already exists with this name.";
            return;
        }
    }

    protected async Task SubTaskCreated(TaskModel task)
    {
        ConfirmCreateSubTask = false;
        task.SubTasks = await subTaskService.GetSubTasks();
    }
}
